<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="grid grid-cols-1 lg:grid-cols-4 text-secondary gap-6 text-lg">
      <p
        class="text-3xl leading-6 lg:col-span-3 lg:text-5xl lg:leading-9 indent-32 lg:indent-32"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
        Software engineer passionate about crafting efficient, scalable web
        applications using modern technologies to build intuitive,
        high-performing solutions.
      </p>
      <p
        class="text-lg lg:col-start-2 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
        Currently available for inquiries. Need a new landing page or redesign?
        Contact me at <a
          href="mailto:benkeshrvan@example.com"
          class="underline underline-offset-4">benkeshrvan@gmail.com</a
        >
      </p>
      <p
        class="lg:col-start-4 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
        As a solo developer, I offer personalized responsive landing pages using
        NextJs and Tailwind CSS, ensuring efficient results tailored to your
        business needs.
      </p>
      <p
        class="lg:col-start-4 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="3000"
      >
        With expertise in modern design principles and user behavior, I create
        visually appealing websites that drive meaningful engagement and help
        you stand out in a competitive market.
      </p>
      <p
        class="text-3xl leading-6 lg:col-span-3 lg:text-7xl lg:leading-13 lg:col-start-2 lg:mt-48 indent-32 lg:indent-32"
        data-aos="fade-up"
        data-aos-duration="3000"
      >
        Together, we'll create digital experiences that convert visitors into
        loyal customers.
      </p>
    </div>
  </div>
</section>
