---
import "../styles/global.css";
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Basic Meta Tags -->
<title>Shrvan Benke</title>
<meta name="description" content="Developer, creator, tech enthusiast." />
<meta name="keywords" content="Shrvan Benke, developer, tech, coding" />
<meta name="author" content="Shrvan Benke" />

<!-- Open Graph / Facebook (without image) -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://01shrvan.tech/" />
<meta property="og:title" content="Shrvan Benke" />
<meta property="og:description" content="Developer, creator, tech enthusiast." />

<!-- Twitter (without image) -->
<meta property="twitter:card" content="summary" />
<meta property="twitter:url" content="https://01shrvan.tech/" />
<meta property="twitter:title" content="Shrvan Benke" />
<meta property="twitter:description" content="Developer, creator, tech enthusiast." />
<meta name="twitter:site" content="@01shrvan" />
<meta name="twitter:creator" content="@01shrvan" />

<!-- Additional SEO -->
<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />

<!-- Theme Color for Mobile Browsers -->
<meta name="theme-color" content="#0000ff" />

<!-- For IE -->
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
 
<!-- Animations -->
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" /> 

<!-- Font -->
<link rel="preconnect" href="https://rsms.me/" />
<link rel="stylesheet" href="https://rsms.me/inter/inter.css" />